{% extends 'base.html' %}

{% block container %}
    <div class="card my-4 mx-auto">
      <div class="card-body m-2 m-md-4">
        <article class="row">
          <div class="col-5"><img src="{{ teacher.picture }}" class="img-fluid" alt=""></div>
          <div class="col-7">

            <section class="teacher=info">

              <h1 class="h2">{{ teacher.name }}</h1>
              <p>
                  {% for goal in teacher.goals %}
                  <span class="badge badge-secondary mr-2">{{ goal }} </span>
                  {% endfor %}
                  Рейтинг: {{ teacher.rating }} Ставка: {{ teacher.price }} / час</p>
              <p>{{ teacher.about }}</p>

            </section>

            <section class="available">

              <h4 class="mb-4 mt-5">Записаться на пробный урок</h4>


              <h6 class="mt-4">Понедельник</h6>
              {% for hour, bool in schedule.mon.items() %}
                  {% if bool %}
              <a href="/booking/{{ teacher.id }}/mon/{{ hour.split(':')[0] }}" class="btn btn-outline-success mr-2">{{ hour }} свободно</a>
                  {% endif %}
              {% endfor %}

              <h6 class="mt-4">Вторник</h6>
              {% for hour, bool in schedule.tue.items() %}
                  {% if bool %}
              <a href="/booking/{{ teacher.id }}/tue/{{ hour.split(':')[0] }}" class="btn btn-outline-success mr-2">{{ hour }} свободно</a>
                  {% endif %}
              {% endfor %}

              <h6 class="mt-4">Среда</h6>
              {% for hour, bool in schedule.wed.items() %}
                  {% if bool %}
              <a href="/booking/{{ teacher.id }}/wed/{{ hour.split(':')[0] }}" class="btn btn-outline-success mr-2">{{ hour }} свободно</a>
                  {% endif %}
              {% endfor %}

              <h6 class="mt-4">Четверг</h6>
              {% for hour, bool in schedule.thu.items() %}
                  {% if bool %}
              <a href="/booking/{{ teacher.id }}/thu/{{ hour.split(':')[0] }}" class="btn btn-outline-success mr-2">{{ hour }} свободно</a>
                  {% endif %}
              {% endfor %}


              <h6 class="mt-4">Пятница</h6>
              {% for hour, bool in schedule.fri.items() %}
                  {% if bool %}
              <a href="/booking/{{ teacher.id }}/fri/{{ hour.split(':')[0] }}" class="btn btn-outline-success mr-2">{{ hour }} свободно</a>
                  {% endif %}
              {% endfor %}

              <h6 class="mt-4">Суббота</h6>
              {% for hour, bool in schedule.sat.items() %}
                  {% if bool %}
              <a href="/booking/{{ teacher.id }}/sat/{{ hour.split(':')[0] }}" class="btn btn-outline-success mr-2">{{ hour }} свободно</a>
                  {% endif %}
              {% endfor %}

              <h6 class="mt-4">Воскресенье</h6>
              {% for hour, bool in schedule.sun.items() %}
                  {% if bool %}
              <a href="/booking/{{ teacher.id }}/sun/{{ hour.split(':')[0] }}" class="btn btn-outline-success mr-2">{{ hour }} свободно</a>
                  {% endif %}
              {% endfor %}

            </section>

          </div>
        </article>
      </div>

    </div>
{% endblock %}